.divOne {
  min-height: 1000px;
  background: blue;
}

.divTwo {
  min-height: 1000px;
  background: green;
}

.divThree {
  min-height: 1000px;
  background: orange;
}

.divFour {
  min-height: 1000px;
  background: red;
}
