.cards {

}

.ex1 {
    background-color: blueviolet;
}

.ex2 {
    background-color: cadetblue;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
